.fieldset {
    background: #282828;

    width: 100vw;
    max-width: 1920px;
    margin: 0;
}

.fieldset {
    position: relative;
}  

legend,
  .grape_left,
  .bochka_right {
    position: absolute;
    bottom: 0;
}

legend {
    font-size: 2.25rem;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #FFF;
}

.grape_left {
    left: 0;
}

.bochka_right {
    right: 0;
}